table {
	border-collapse: collapse;
}
th {
	background-color: Lavender;
}
table, th, td {
	border: 1px solid black;
}
td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.selected {
	background-color: LightSkyBlue;
}
.error {
	background-color: red;
}
pre {
	border: 1px solid black;
	min-height: 20px;
}
.ui-autocomplete {
	max-height: 190px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
div.table-div {
	width: 100%;
	overflow:auto;
	border:1px solid black;
}
