table {
	border-collapse: collapse;
}
th {
	background-color: Lavender;
}
table, th, td {
	border: 1px solid black;
}
td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.selected {
	background-color: LightSkyBlue;
}
.error {
	background-color: red;
}
pre {
	border: 1px solid black;
	min-height: 20px;
}
.ui-autocomplete {
	max-height: 190px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
div.table-div {
	width: 100%;
	overflow:auto;
	border:1px solid black;
}
.inline-alert {
	float: left;
	margin-right: .3em;
	margin-top: .2em;
	background-image: url('external/images/ui-icons_a83300_256x240.png');
}
.inline-check {
	float: left;
	margin-right: .3em;
	margin-top: .2em;
	background-image: url('external/images/ui-icons_4b8e0b_256x240.png');
}
